# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables (ALL)
.env
.env.*
website/backend/.env
website/frontend/.env
AI/**/.env

# Node.js (Website)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend builds (Vite / React)
dist/
build/
website/frontend/dist/
website/frontend/build/


# Python / AI
AI/**/venv/
AI/**/__pycache__/
*.pyc
.ipynb_checkpoints/
AI/**/.ipynb_checkpoints/
AI/**/runs/
*.onnx

# tools
ngrok*
*.tar.gz
server/public
vite.config.ts.*
