body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
}

video, canvas {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  padding: 12px;
  margin: 8px;
  font-size: 16px;
}
